@import 'variabele.css';

body {
	background: var(--black);
}

body.background {
	background-image: url('../../images/galaxy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	top: -20px;
}

h1 {
	background-image: linear-gradient(#9049BF, #482560);
}