@import 'variabele.css';

body {
	background: var(--black);
}

body.background {
	background-image: url('../../images/galaxy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	top: -20px;
}

h1{
	color:var(--gradient);
}