<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cloud Printing</title>
	<link rel="stylesheet" href="../static/variabele.css/">
	<link rel="stylesheet" href="../static/style.css/">
	<script src="https://www.google.com/cloudprint/client/cpgadget.js"></script>
	
</head>
<body>
	<div class="header">
		<h1>RaspMagie-print</h1>
	</div>
	<div class="imagescontainer">
		

		
		<img src="../static/images/icons8-school-building-64.png" class="buildingimg"alt="building">
		<img src="../static/images/wifi.png" alt="wifi" class="wifi">
		<img src="../static/images/houseneon.png" alt="house" class="houseimg">
		<img src="../static/images/wifi.png" alt="wifi" class="wifi">
		<img src="../static/images/Icon awesome-cloud.png" alt="Cloud">
		<img src="../static/images/wifi.png" alt="wifi" class="wifi">
		<img src="../static/images/Icon awesome-raspberry-pi.png" alt="raspberry">
		<img src="../static/images/wifi.png" alt="wifi" class="wifi">
		<img src="../static/images/printer.png" alt="printer">
	</div>
	<div class="printcontainer">
		<form enctype= "multipart/form-data" action= "/" method= "post">
		<div class="title_upload">
			<div class="file_upload"><p class="file_p">File upload</p></div>
			<p class ="tekst" id="file_name"></p>
			<input oninput="filesize(this)" class="tekst" id="file" name="file" type="file" style="visibility:hidden"/>
			<button type="submit" class="btn_submit"></button>
			
		</div>
		</form>
		<div class="optionsmaincontainer">
		<form class="options">
		<div class="radiocontainer">
				<input type="radio" id="kleur" name="printerkleurenpatroon" value="kleur" class="purpleradio"/>
				<label for="kleur">kleur</label>
		</div>
		<div class="radiocontainer">
			<input type="radio" id="grijswaarden" name="printerkleurenpatroon" value="grijswaarden" class="purpleradio"/>
			<label for="grijswaarden">grijswaarden</label>
		</div>
		<div class="radiocontainer">
			<input type="radio" id="zwart-wit" name="printerkleurenpatroon" value="zwart-wit" class="purpleradio"/>
			<label for="zwart-zwit">zwart-wit</label>
		</div>
		</form>
		<form class="options">
		<div class="radiocontainer">
			<input type="radio" id="enkelzijdig" name="afdrukkant" value="enkelzijdig"/>
			<label for="enkelzijdig">enkelzijdig</label>
		</div>
		<div class="radiocontainer">
			<input type="radio" id="dubbelzijdig" name="afdrukkant" value="dubbelzijdig"/>
			<label for="dubbelzijdig">dubbelzijdig</label>
		</div>
		</form>
		<form class="options">
		<div class="radiocontainer">
			<input type="radio" id="A2" name="paginaformaat" value="A2"/>
			<label for="A2">A2</label>
		</div>
		<div class="radiocontainer">
			<input type="radio" id="A3" name="paginaformaat" value="A3"/>
			<label for="A3">A3</label>
		</div>
		<div class="radiocontainer">
			<input type="radio" id="A4" name="paginaformaat" value="A4"/>
			<label for="A4">A4</label>
		</div>
		<div class="radiocontainer">
			<input type="radio" id="A5" name="paginaformaat" value="A5"/>
			<label for="A5">A5</label>
		</div>
		</form>
		<form class="copiescontainer">
			<h4>Aantal</h4>
			<input type="number" id="number" name="number" />
			<button type="submit" href="/succes" id="print_button_container"><img src="../static/images/printer.png" alt="printer" class="buttonimg"></button>
		</form>
		</div>

	</div>
	<!--<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>-->
	<script>
		const file = document.getElementById('file');

		const file_name = document.getElementById('file_name');
	
		const file_upload = document.querySelector('.file_upload');


		function filesize(elem){

			document.cookie =`filesize${elem.files[0].size}`;
			}
		file_upload.addEventListener('click', (e) => {
		if(file){
			
			file.click();
			
			console.log(file.value); 
			console.log(file_name.value);
			file_name.innerText = file.value;
		}
		},false);
		window.onload = function() {

		var gadget = new cloudprint.Gadget();
		gadget.setPrintButton(
			cloudprint.Gadget.createDefaultPrintButton("print_button_container")); // div id to contain the button
		gadget.setPrintDocument("[file.value]", "[document title]", "[document content]", "[encoding] (optional)");
		}

	</script>
</body>
</html>