<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cloud Printing</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="header">

	</div>
	<div class="imagescontainer">
		<img src="../images/icons8-school-building-64.png" alt="building">
		<img src="../images/wifi.png" alt="wifi">
		<img src="../images/houseneon.png" alt="house">
		<img src="../images/wifi.png" alt="wifi">
		<img src="../images/Icon awesome-cloud.png" alt="Cloud">
		<img src="../images/wifi.png" alt="wifi">
		<img src="../images/Icon awesome-raspberry-pi.png" alt="raspberry">
		<img src="../images/wifi.png" alt="wifi">
		<img src="../images/printer.png" alt="printer">
	</div>
	<div class="printcontainer">

	</div>
</body>
</html>