<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="background">
	<a class="succes" href="index.html"><img src="../images/Icon ionic-md-home@2x.png" alt="home"> Print again</a>
	<div class="succescontainer">
		<h2>Succesvol!</h2>
		<p>Je afdruk komt er aan ;-)</p>
	</div>
</body>

</html>